{% extends "base.html.twig" %}
{% block title %}
    Liste categorie >> {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Voici la liste des categories</h1>
    <div class="row">
        {% for categorie in categorieList %}
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-libelle">{{ categorie.Libelle }}</h5>
                        {# Ceci est un commentaire qui ne sera pas visible sur le code HTML #}
                        <p class="card-text">
                            {{ categorie.getShortDesc(3) }}
                            <br/>
                            {{ categorie.Icon }}
                        </p>
                        <a href="/Categorie/Show/{{ categorie.Id }}" class="btn btn-primary">
                            Consulter
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}